.popup {
    flex-direction: column;
    width: 140px;
    height: 200px;
    border: 2px solid;
    background-color: black;
    padding: 10px;
    color: chartreuse;
    position: absolute;
    left: 50%;
    top: 50%;
}

.X {
    display: ruby-base;
    background-color: #ec4342;
    padding: 5px;
    font-size: .8em;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    position: fixed;
}

.pic {
    display: none;
}

.is-favorite {
    display: block;
}